<head>
    <meta http-equiv="refresh" content="15">
    <title>Car Show room</title>
    <script>
        $(document).ready(function () {



            $.getJSON("/user/getBookings", function (data) {


                $('#searched').empty();
                $.each(data, function (i, item) {


                    $('#searched').append('<div class="thumbnail">' + '<img src=/images/' + item.image + ' /> </div>');
                    $('#searched').append('<div class="caption text-primary"><h3>Model:' + item.model + '  ' + item.year + '</h3>');
                    $('#searched').append('<h3>Price:' + item.price + '</h3> ');
                    $('#searched').append('<p><input type="button" class="btn-primary"  value="Cancel IT" onClick=f1(' + item.Id + ') id="cancel" ></p>');

                });
            });

        });
        function f1(id) {

          
            $.getJSON("/user/CancelBookCar?cid="+id, function (data) {

                
                window.location.href = window.location.href;

            });
        }

       

            
        

    </script>
</head>






<body>
   

        <div id="searched" class="col-lg-3">

            
            
        </div>


    


</body>

