
<head>
    <title>car Show Room</title>



    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nivo.slider.pack.js"></script>
    <script>
    $(document).ready(function () {
       
        $.getJSON("/user/GetOffer", function (data) {
            $("#sp").append('<h3>'+data.offer+'</h3>');
        });

            $.getJSON("/user/GetAll", function (data) {

                  
                $('#searched').empty();
               
              
                $.each(data, function (i, item) {
                    $('#searched').append('<tr>');

                    $('#searched').append('<td>');
                    $('#searched').append('<div class="thumbnail">'+'<img src=/images/'+item.image+' /> </div>');
                    $('#searched').append('<div class="caption text-primary"><h3>Model:' + item.model+ '  ' + item.year +'</h3>');
                    $('#searched').append('<h3>Price:' + item.price +  '</h3> ');
                    $('#searched').append('<p><input type="button" class="btn-primary form-control"  value="Book" onClick=f1(' + item.Id + ') id=' + item.Id + '></p>');
                    $('#searched').append('</td>');
                    $('#searched').append('</tr>');
                });
               
               
            });

        


           










    });

    function f1(id) {
        
        $.getJSON("/user/BookCar?cid=" + id, function (data) {
            if(data)
                alert("Booked");
            else
                alert("Cannot Book More Than 2 Cars");

        });
    }


    </script>
</head>


            <body>

                <div class="row ">
                    <form class="form-group col-lg-3 ">
                        <fieldset class="text-success">
                            <legend class="text-success">Special Offers</legend>
                            <div class="text-danger " id="sp">


                                </div>
                        </fieldset>


                    </form>

                    <div class="col-lg-7">

                        <div id="banner_image">
                            <div id="slider-wrapper">
                                <div id="slider" class="nivoSlider">
                                    <img src="~/images/home_1.jpg" />
                                    <img src="~/images/home_2.jpg" />

                                </div><!--close slider-->
                            </div><!--close slider_wrapper-->
                        </div><!--close banner_image-->

                    </div>
                </div>

                <div class="text-success">
                    <legend class="text-danger"><h1>Featured Cars</h1></legend>
                </div>

                <table class="table-bordered" id="searched">

                </table>
                
               

</body>
