@{
    ViewBag.Title = "SearchCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>car Show Room</title>



    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nivo.slider.pack.js"></script>
    <script>
        $(document).ready(function () {

            $('#make').change(function () {
                var id = $('#make').val();
                $('#model').empty();
                $.getJSON("/user/GetModel?u=" + id, function (data) {

                    $.each(data, function (i, item) {
                        
                        $('#model').append('<option value=' + item.modelName + '>' + item.modelName + '</optoin>');
                    });
                });
            });
        });

        $(document).ready(function () {

            $('#search1').click(function () {
                var make = $('#make').val();
                var model = $('#model').val();
                var year = $('#year').val();
                var price = $('#price').val();
                var power = $('#power').val();

                $.getJSON("/user/SearchACar?make=" + make + "&model=" + model + "&price=" + price + "&power=" + power + "&year=" + year, function (data) {

                  
                    $('#searched').empty();
                    $.each(data, function (i, item) {

                        $('#searched').append('<tr>');

                        $('#searched').append('<td>');
                        $('#searched').append('<div class="thumbnail">'+'<img src=/images/'+item.image+' /> </div>');
                        $('#searched').append('<div class="caption text-primary"><h3>Model:' + item.model+ '  ' + item.year +'</h3>');
                        $('#searched').append('<h3>Price:' + item.price +  '</h3> ');
                        $('#searched').append('<p><input type="button" class="btn-primary form-control"  value="Book IT" onClick=f1(' + item.Id + ') id=' + item.Id + '></p>');
                        $('#searched').append('</td>');
                        $('#searched').append('</tr>');
                    });
                });
            });

           
        });
        function f1(id) {

            $.getJSON("/user/BookCar?cid=" + id, function (data) {
                if (data)
                    alert("Booked");
                else
                    alert("Cannot Book More Than 2 Cars");

            });
        }
    </script>
</head>




<body>
    <div class="row">
        
            <div class="text-success col-lg-3">
                <legend class="text-success">Search A Car</legend>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label text-primary">Make</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="make">
                            <option>Select Make...</option>
                            <option value=1>Honda</option>
                            <option value=2>Toyota</option>
                            <option value=3>Audi</option>
                            <option value=4>Suzuki</option>
                            <option value=5>BMW</option>
                        </select>
                    </div>
                    <br /><br /><br />
                    <label for="select" class="col-lg-2 control-label text-primary">Model</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="model">
                            <option>Select Model...</option>

                        </select>
                    </div>
                    <br /><br /><br />
                    <label for="select" class="col-lg-2 control-label text-primary">Price</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="price">
                            <option value=1>less than 1000000</option>                          
                            <option value=2>
                                1000000-2000000
                            </option>
                            <option value=3>greater than 2000000</option>
                           
                        </select>
                    </div>

                    <br /><br /><br />
                    <label for="select" class="col-lg-2 control-label text-primary">Select Power</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="power">
                            <option value=1>less than 1000</option>
                            <option value=2>1000-2000</option>
                            <option value=3>
                                greater than 2000
                            </option>
                            
                        </select>
                    </div>
                    

                    <br /><br/><br/>
                    <label for="select" class="col-lg-2 control-label text-primary">Model Year</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="year">
                            <option value=2012>2012</option>
                            <option value=2013>2013</option>
                            <option value=2014>
                                 2014
                            </option>

                        </select>
                    </div>
                    
                </div>
                <br /><br />
                <div class="btn-group col-lg-offset-4">
                    <button type="button" class="btn btn-success" id="search1">Search</button>
                </div>
            </div>


       

        <table class="table-bordered" id="searched">

        </table>


       </div>
</body>